input {
    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0.3);
  
    height: 40px;
    width: 25vw;
    margin-top: 50px;
  
    transition: border-color 0.3s ease;
} 
  
input:focus {
    border: 3px solid #02B674;
    outline: none;
}