.background {
  
  height: auto;
  width: 100vw;
  padding: 5%;

  background-image: url('/square-versatiles.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 50px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
}

input[type=text] {
  margin: 5%;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}